.App {
  text-align: center;
}
.headerrow {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: lightblue;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 15px;
}
h1 {
  color: teal;
}
.dashboardContainer {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
  border: 2px solid black;
  padding: 15px;
  background-color: teal;
}
.oneContainer {
  width: 50%;
  border: 2px solid black;
  padding: 15px;
  margin: 0 auto;
  background-color: teal;
}
h3 {
  color: lightgray;
}
th {
  color: lightGray;
}
p {
  color: lightGray;
}
td {
  color: lightGray;
}
label {
  color: lightGray;
}
